{{ friendModel | json }}
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- Bootstrap CSS -->
  <link href="/styles.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <title>basic-angular-form</title>
</head>
<body>
<form #formName="ngForm" novalidate>

  <ul>
      <li>First name:    <input name="firstname"  type="text"   required    [(ngModel)]="friendModel.firstname"  #firstname="ngModel" [class.invalidinput]="firstname.invalid && firstname.touched" [pattern]=nameValid placeholder="john"></li>
      <li>Last name:     <input name="lastname"   type="text"   required    [(ngModel)]="friendModel.lastname"   #lastname="ngModel" [class.invalidinput]="lastname.invalid && lastname.touched" [pattern]=lastNameValid  placeholder="doe"></li>
      <li>Email:         <input name="email"      type="email"  required    [(ngModel)]="friendModel.email"      #email="ngModel" [class.invalidinput]="email.invalid && email.touched"  email="true" placeholder="john@doe.com" ></li>
      <li>Phone number:  <input name="phone"      type="text"   required    [(ngModel)]="friendModel.phone"      #phone="ngModel" [class.invalidinput]="phone.invalid && phone.touched" [pattern]=phoneValid placeholder="+32 *** ** ** **"></li>
    <li>
      <select name="Favourite language" id="language">
        <option *ngFor="let language of languages; index as i">{{language}}</option>
      </select>
    </li>
  </ul>
  <button type="submit" id="button"  [class.cantclick]="formName.invalid" >Submit</button>
</form>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>
